.hero{
    height: 100vh;
    background: url('./dg/sky.jpg') no-repeat bottom center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10 vw;
    color: #fff;
}